<div class="container">
  <div class="devices">
    <p> Devices: </p>
    <div class="all-devices">
      <div class="device" *ngFor="let device of devices">
        <p> {{device.name}}</p>
        <button (click)="addDevice(device)">Add</button>
      </div>
    </div>
    <p> Your devices: </p>
    <div class="your-devices">
      <div class="device" *ngFor="let device of yourDevices">
        <p> {{device.name}}</p>
      </div>
    </div>
  </div>
  <div class="result">
    <p> Total usage is: {{calculateTotalDailyPowerUsage()/1000}}kW/day</p>
    <h3> Your power usage history: </h3>
    <div class="history">
      <div class="day" *ngFor="let day of days">
        <p> Day: {{day.day}} </p>
        <p> Power usage: {{day.powerUsage}}kW </p>
      </div>
    <button (click)="skipDay()"> Skip day </button>
  </div>
</div>
